<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us | MedNet</title>
    <link rel="stylesheet" href="/static/css/About-Us.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static/Images/MedNet Favicon.png" />
</head>

<body>
    
    <!-- Navbar -->

    <nav class="navbar">
        <div class="logo">
            <img src="/static/Images/MedNet Logo.png" alt="Logo" />
        </div>
        <ul class="nav-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <div class="nav-actions">
            <a href="#" class="login">Log in</a>
            <a href="#" class="btn-find-match">Sign Up</a>
        </div>
        <div class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </nav>

    <!-- About-Us Section -->

    <div class="container">
        <div class="header">
            <img src="/static/Images/MedNet Logo.png" alt="Logo" class="logo" />
        </div>
        <div class="content">
            <h1>About Us</h1>
            <h2>Welcome to MedNet !</h2>

            <p>
                Welcome to MedNet, a cutting-edge telehealth platform designed to
                <b>revolutionize healthcare access.</b> At MedNet, we bridge the gap
                between
                <b>patients and healthcare providers by offering seamless virtual
                    consultations.</b>
                With a focus on patient convenience and security, our platform
                provides an all-in-one solution that includes
                <b>high-quality video conferencing, intuitive appointment scheduling,
                    and integrated health record management.</b>
            </p>
            <br /><br /><br />

            <p>
                We understand the importance of effective communication in healthcare,
                which is why we also offer
                <b>real-time chat and secure messaging features</b> to enhance
                patient-provider interaction. Our user-friendly platform prioritizes
                patient
                <b>confidentiality while delivering personalized healthcare
                    experiences.</b>
            </p>
            <br /><br /><br />

            <p>
                At MedNet, we
                <b>empower patients to take control of their health by connecting them
                    with trusted professionals for remote consultations anytime,
                    anywhere. Join us in redefining healthcare accessibility and
                    improving patient outcomes.</b>
            </p>

            <h3>Contact Us</h3>
            <p>
                <strong>Phone:</strong> +91 93136 02304<br />
                <strong>Email:</strong>
                <a href="mailto:info@anytimeevent.com">support@med-net.com</a><br />
                <strong>Website:</strong>
                <a href="http://www.med-net.com">www.med-net.com</a>
            </p>
        </div>
    </div>
</body>

</html>