<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us | MedNet</title>
    <link rel="stylesheet" href="/static/css/Contact-Us.css">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static/Images/MedNet Favicon.png" />
</head>

<body>

    <!-- Navbar -->

    <nav class="navbar">
        <div class="logo">
            <img src="/static/Images/MedNet Logo.png" alt="Logo" />
        </div>
        <ul class="nav-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <div class="nav-actions">
            <a href="#" class="login">Log in</a>
            <a href="#" class="btn-find-match">Sign Up</a>
        </div>
        <div class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </nav>

    <!-- Contact-Us Section -->

    <section>
        <div class="container">
            <div class="contactInfo">
                <div>
                    <h2>Contact Info</h2>
                    <ul class="info">
                        <li>
                            <span><img src="/static/Images/location.png" alt="Location Icon Image"></span>
                            <span>31, Panjarapol<br>
                                Ahmedabad, Gujarat. <br>
                                380013.</span>
                        </li>
                        <li>
                            <span><img src="/static/Images/mail.png" alt="Mail Icon Image"></span>
                            <span>mednet@gmail.com</span>
                        </li>
                        <li>
                            <span><img src="/static/Images/call.png" alt="Call Icon Image"></span>
                            <span>+91 93133 10110</span>
                        </li>
                    </ul>
                </div>

                <ul class="sci">
                    <li><a href="#"><img src="/static/Images/1.png" alt=""></a></li>
                    <li><a href="#"><img src="/static/Images/2.png" alt=""></a></li>
                    <li><a href="#"><img src="/static/Images/3.png" alt=""></a></li>
                    <li><a href="#"><img src="/static/Images/4.png" alt=""></a></li>
                    <li><a href="#"><img src="/static/Images/5.png" alt=""></a></li>
                </ul>

            </div>
        <form action="/contact-us/" method="POST">
            {% csrf_token %}
            <div class="contactForm">
                <h2>Send a Message</h2>
                <div class="formBox">

                    <div class="inputBox w50">
                        <input type="text" required name="name">
                        <span>First Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" required name="lname">
                        <span>Last Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="email" required name="email">
                        <span>Email Address</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" required name="mobile">
                        <span>Mobile Number</span>
                    </div>
                    <div class="inputBox w100">
                        <textarea required name="message"></textarea>
                        <span>Write your message here...</span>
                    </div>
                    <div class="inputBox w100">
                        <input type="submit" value="Send">
                    </div>

                </div>
            </div>

        </div>
    </div>
    </section>

</body>

</html>