<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | MedNet</title>
    <link rel="stylesheet" href="/static/css/Home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static/Images/MedNet Favicon.png" />
</head>

<body>

    <!-- Navbar -->

    <nav class="navbar">
        <div class="logo">
            <img src="/static/Images/MedNet Logo.png" alt="Logo" />
        </div>
        <ul class="nav-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        {% if 'email' not in request.session %}
        <div class="nav-actions">
            <a href="/auth/login/" class="login">Log in</a>
            <a href="/auth/signup/" class="btn-find-match">Sign Up</a>
        </div>
        {% else %}
        <div class="nav-actions">
            <a href="/auth/logout/" class="login">Log Out</a>

        </div>

        {% endif %}
        <div class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </nav>

    <!-- Hero Section -->

    <section class="hero">
        <div class="hero-content">
            <h1>
                Health That <span class="highlight">Moves with You </span>& Say
                Goodbye to <span class="highlight">Waiting Rooms.</span>
            </h1>
            <p>
                MedNet is a <span class="para">comprehensive</span> telehealth
                platform that enables
                <span class="para">seamless remote consultations,</span> connecting
                patients and healthcare providers
                <span class="para">anytime, anywhere.</span>
            </p>
            <div class="hero-buttons">
                <a href="#" class="btn-primary">Get Started Now<i class="fa-solid fa-angle-right"></i></a>
                <a href="#" class="btn-secondary">Learn More</a>
            </div>
        </div>
        <div class="hero-image">
            <img src="/static/Images/MedNet Logo.png" alt="Logo" />
        </div>
    </section>

    <div class="mobile-menu">
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#" class="login">Log in</a></li>
            <li><a href="#" class="btn-find-match">Sign Up</a></li>
        </ul>
    </div>

    <!-- Cards Section -->

    <section class="cards-section">
        <div class="card">
            <div class="card-icon">
                <i class="fa-solid fa-user-doctor"></i>
            </div>
            <h2>{{ length_doctors }}+</h2>
            <p>Experienced across specialties</p>
            <button class="card-button">Doctors</button>
        </div>
        <div class="card">
            <div class="card-icon">
                <i class="fa-solid fa-bed"></i>
            </div>
            <h2>{{ length_patients }}+</h2>
            <p>Serving a wide patient base</p>
            <button class="card-button">Patients</button>
        </div>
        <div class="card">
            <div class="card-icon">
                <i class="fa-solid fa-stethoscope"></i>
            </div>
            <h2>{{ length_appointments }}+</h2>
            <p>High-quality consultations</p>
            <button class="card-button">Consultations</button>
        </div>
    </section>

    <!-- Feature Section -->

    <div class="heading">
        <h1>Our Features</h1>
    </div>

    <section class="cards-section">
        <div class="feature-card">
            <div class="feature-icon" style="background-color: #fce4e4">
                <i class="fa-solid fa-comment-medical"></i>
            </div>
            <div class="feature-text">
                <h3>Virtual Consultations</h3>
                <p>Track how people near you are getting their flu shots</p>
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-icon" style="background-color: #e3f3fd">
                <i class="fa-solid fa-shield-halved"></i>
            </div>
            <div class="feature-text">
                <h3>Secure Messaging</h3>
                <p>Get quality healthcare insurance at an affordable price</p>
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-icon" style="background-color: #f2e7fb">
                <i class="fa-solid fa-calendar-check"></i>
            </div>
            <div class="feature-text">
                <h3>Appointment Scheduling</h3>
                <p>Track how people near you are getting their flu shots</p>
            </div>
        </div>


    </section>

    <div class="chatbot-icon" onclick="toggleChatbot()">💬</div>

    <div class="chatbot-container" id="chatbotContainer">
        <div class="chatbot-header">Chatbot</div>
        <div class="chatbot-messages" id="chatbotMessages"></div>
        <div class="chatbot-input-container">
            <input type="text" id="chatbotInput" class="chatbot-input" placeholder="Ask me anything..." />
            <button class="send-button" onclick="sendMessage()">Send</button>
        </div>
    </div>

    </div>
    
    <!-- Footer -->

    <footer>
        <div class="footer-container">
            <div class="footer-section programs">
                <h3>Company Information</h3>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Our Team</a></li>
                    <li><a href="">Careers</a></li>
                </ul>
            </div>

            <div class="footer-section service">
                <h3>Service</h3>
                <ul>
                    <li><a href="">Patient Services</a></li>
                    <li><a href="">Appoinment Scheduling</a></li>
                    <li><a href="">Health Record</a></li>
                </ul>
            </div>

            <div class="footer-section contact">
                <h3>Resources</h3>
                <ul>
                    <li><a href="">Help Center</a></li>
                    <li><a href="/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="/terms-and-conditions/">Terms of Services</a></li>
                </ul>
            </div>

            <div class="footer-section newsletter">
                <h3>Newsletter</h3>
                <form>
                    <input type="email" placeholder="Email Address" required>
                    <button type="submit">Subscribe</button>
                </form>
                <div class="contact-info">
                    <p>Mobile: +91 93136 02304 </p>
                    <p>Email: support@mednet.com</p>
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2024 MedNet.com</p>
        </div>
    </footer>

    <script src="/static/js/Home.js"></script>
</body>

</html>