<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | MedNet</title>
    <link rel="stylesheet" href="/static/css/Our_Team.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static/Images/MedNet Favicon.png" />
</head>

<body>

    <!-- Navbar -->

    <nav class="navbar">
        <div class="logo">
            <img src="/static/Images/MedNet Logo.png" alt="Logo" />
        </div>
        <ul class="nav-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <div class="nav-actions">
            <a href="#" class="login">Log in</a>
            <a href="#" class="btn-find-match">Sign Up</a>
        </div>
        <div class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </nav>

    <!-- Our Team -->

    <section class="team-section">
        <div class="container">
            <div class="team-header">
                <h1>Our Team</h1>
                <p>At <b>MedNet</b>, Our team is a blend of skilled persons united by a passion for <b>innovation and
                        excellence</b>. With diverse expertise and a shared commitment to delivering <b>outstanding
                        results</b>, We collaborate seamlessly to drive success for our clients. Together, we push
                    <b>boundaries, solve challenges, and shape the future of industry</b>. Get to know the people who
                    make it all happen.</p>
            </div>

            <div class="team-members">
                <div class="team-member">
                    <img src="/static/Images/MedNet Favicon.png" alt="Image">
                    <h3>Nakshi Shah</h3>
                    <p class="position">Backend Developer</p>
                    <p>Nakshi brings a deep passion for creating efficient, scalable server-side systems. Though
                        relatively new to the industry, she’s continuously refining her skills in backend while
                        developing robust APIs and optimizing backend performance. Nakshi's commitment to learning and
                        innovation drives our technical growth.</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>

                <div class="team-member">
                    <img src="/static/Images/MedNet Favicon.png" alt="Image">
                    <h3>Deep Shah</h3>
                    <p class="position">Backend Developer</p>
                    <p>Deep is a dedicated backend developer who thrives on solving complex problems through clean,
                        reliable code. While early in his career, he’s quickly mastering microservices and database
                        management with Python. His enthusiasm for building secure and efficient systems is a key asset
                        to our team.</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>

                <div class="team-member">
                    <img src="/static/Images/MedNet Favicon.png" alt="Image">
                    <h3>Vedant Tuvar</h3>
                    <p class="position">Frontend Developer</p>
                    <p>Vedant brings a fresh perspective and unbridled enthusiasm to frontend development. His focus is
                        on creating visually engaging and intuitive user interfaces using frontend skills. Though still
                        growing in experience, creativity and drive to deliver a great user experience are the
                        foundation of our product’s design.</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>

                <div class="team-member">
                    <img src="/static/Images/MedNet Favicon.png" alt="Image">
                    <h3>Kukshi Shah</h3>
                    <p class="position">Frontend Developer</p>
                    <p>Kukshi is a frontend developer who is passionate about blending design with functionality. While
                        she’s continuing to hone her skills in frontend frameworks, his eye for detail and commitment to
                        building user-friendly interfaces have made him an invaluable part of our development team.</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="team-member">
                    <img src="/static/Images/MedNet Favicon.png" alt="Image">
                    <h3>Paripurna Tiwari</h3>
                    <p class="position">Research Developer</p>
                    <p>Paripurna is dedicated to exploring new technologies and pushing the boundaries of what’s
                        possible. Despite being early in her research career, she’s passionate about experimenting with
                        cutting-edge tools and methodologies to drive innovation. Sarah’s curiosity and hunger for
                        knowledge keep our team at the forefront of industry trends.</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>