<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy | MedNet</title>
    <link rel="stylesheet" href="/static/css/Privacy_Policy.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static/Images/MedNet Favicon.png" />
</head>

<body>

    <!-- Navbar -->

    <nav class="navbar">
        <div class="logo">
            <img src="/static/Images/MedNet Logo.png" alt="Logo" />
        </div>
        <ul class="nav-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <div class="nav-actions">
            <a href="#" class="login">Log in</a>
            <a href="#" class="btn-find-match">Sign Up</a>
        </div>
        <div class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </nav>

    <!-- Privacy Policy -->

    <header class="header">
        <div class="container">
            <h1>Privacy Policy</h1>
            <p>Last Updated: <span id="last-updated">September 28, 2024.</span></p>
        </div>
    </header>

    <section class="policy-section">
        <div class="container">
            <h2>1. Introduction</h2>
            <p>MedNet is committed to protecting your privacy and ensuring the confidentiality of your personal and
                health information. This Privacy Policy outlines how we collect, use, and <strong>protect your
                    information when you access and use our telehealth services, including video consultations,
                    messaging, appointment scheduling, and other services available through our platform</strong>.</p>
        </div>

        <div class="container">
            <h2>2. Information We Collect</h2>
            <p>We collect personal details necessary to identify and communicate with you, including:</p>
            <ul>
                <li><strong>Personal Information:</strong> Name, email, contact details, date of birth.
                </li>
                <li><strong>Health Information:</strong>Medical history, Current health conditions, Medications,
                    Allergies, Lab results, Doctor’s notes</li>
            </ul>
        </div>

        <div class="container">
            <h2>3. How We Use Your Information</h2>
            <p>We use your information for the following purposes:</p>
            <ul>
                <li>To Provide Telehealth Services.</li>
                <li>Appointment Scheduling</li>
                <li>Health Record Integration</li>
                <li>Communication</li>
                <li>Platform Improvement</li>
            </ul>
        </div>

        <div class="container">
            <h2>4. Data Security</h2>
            <p>We take appropriate measures to ensure the security of your personal and health information, including:
            </p>
            <ul>
                <li><strong>Encryption:</strong> All communication, including video calls, chats, and file transfers,
                    are encrypted using industry-standard protocols (e.g., SSL/TLS) to protect against unauthorized
                    access.</li>
                <li><strong>Access Control:</strong> Only authorized personnel, such as healthcare providers, have
                    access to your health information. Strict access control measures are in place to prevent
                    unauthorized access.</li>
                <li><strong>Data Storage:</strong> Your data is stored in secure, HIPAA-compliant servers that meet or
                    exceed data security standards.</li>
            </ul>
        </div>

        <div class="container">
            <h2>5. Your Rights</h2>
            <p>Depending on your jurisdiction, you may have certain rights concerning your personal data:</p>
            <ul>
                <li><strong>Access:</strong>You have the right to request access to your personal and health information
                    stored on our platform.</li>
                <li><strong>Correction:</strong> You may request corrections to your personal or health information if
                    it is inaccurate or incomplete.</li>
                <li><strong>Deletion:</strong> You may request the deletion of your personal and health information,
                    subject to legal and regulatory requirements.</li>
            </ul>
        </div>

        <div class="container">
            <h2>6. Data Security</h2>
            <p>We take your data security seriously and implement industry-standard measures to protect your personal
                information.</p>
        </div>

        <div class="container">
            <h2>9. Changes to This Policy</h2>
            <p>We may update this Privacy Policy. Please check this page regularly to stay informed.</p>
        </div>

        <div class="container">
            <h2>10. Contact Us</h2>
            <p>If you have any questions about this Privacy Policy, please contact us at:</p>
            <p><strong>Email:</strong> support@mednet.com<br></p>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 MedNet. All Rights Reserved.</p>
        </div>
    </footer>


</body>

</html>