/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

::selection {
    background-color: #05664f;
    color: #FFFFFF;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background-color: #f5f5f7;
    border-bottom: 1.6px solid #066450;
}

.logo img {
    max-width: 175px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #05664f;
    font-size: 1.6rem;
    font-weight: 550;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 28px;
    color: #04664f;
}

/* Sidebar */
.container {
    display: flex;
    margin-top: 20px;
}

.sidebar {
    background-color: #f4f4f4;
    width: 180px;
    padding: 20px;
    height: 135vh;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    padding: 15px 0;
    cursor: pointer;
    font-size: 18px;
}

.sidebar ul li:hover {
    background-color: #ddd;
}

/* Appointments Overview */

.appointments-overview {
    flex-grow: 1;
    margin-left: 20px;
}

.appointments-overview h2 {
    margin-bottom: 20px;
    font-size: 35px;
    color: #05664f;
    margin: 20px 0 30px 0;
}

.overview-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin: 0 40px 0 40px;
}

.card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    width: 250px;
}

.appointments-tables {
    margin-top: 30px;
}

.appointments-tables h2 {
    margin-bottom: 15px;
    margin: 40px 0 40px 0;
}

/* Table Styles */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #05664f;
    color: #fff;
}

.btn-reschedule {
    background-color: #f39c12;
    color: white;
}

.btn-cancel {
    background-color: #e74c3c;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
}

.status {
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 12px;
}

.status.scheduled {
    background-color: #f1c40f;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
}

.status.confirmed {
    background-color: #27ae60;
    color: white;
    font-size: 14px;
}

.btn-view {
    padding: 6px;
    border: .5px solid #333;
    border-radius: 10px;
}